*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-attachment: fixed;
}
.horror{
    position: relative;
    height: 100vh;
    height: 100dvh;
    width: 100%;
    background-image: url(rob-griffin-6mPH67fcaZs-unsplash.jpg);
    background-size: cover;
}
.horror::before{
    content: '';
    position: absolute;
    height: 100vh;
    width: 100%;
    background: red;
    opacity: 0.2;
}

.horror-text {
    position: sticky;
    text-align: center;
    transform: translateY(50vh);
    transform: translateY(50dvh);
    color: black;
    font-size: 20vw;
}
#horror-books{
    position: relative;
    padding: 70px;
    min-height: 100vh;
    display: grid;
    background: linear-gradient(90deg,red,black);
    grid-template-columns:repeat(4,1fr) ;
    animation: blurin linear both;
    animation-timeline: view();
}
@keyframes blurin{
    0%{
        filter: blur(5px);
    }
     45%,50%,55%,60%,65%{ 
        filter: blur(0);
    }
    100%{
        filter: blur(0);
    }
}
@media screen and (max-width:768px)
{
   #horror-books{
    display: grid;
    grid-template-columns: repeat(2,1fr);
   } 
}
@media screen and (max-width:480px)
{
   #horror-books{
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
   } 
}
#book1{
    position: relative;
    margin: 20px;
    height: 150px;
    width: 120px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: red;
    text-transform: lowercase;
    display: flex;
    justify-content: center;
    transform: skewY(-5deg);
    background: url(kelsey-curtis-aXYnU9mpit0-unsplash.jpg);
    background-size: cover;
}
#book1::before{
    content: '';
    position: absolute;
    height: 102.5%;
    width: 16px;
    background: url(kelsey-curtis-aXYnU9mpit0-unsplash.jpg);
    transform: translate(-68px, 2px) skewY(-20deg);
}
#book1::after{
    content: '';
    position: absolute;
    height: 10px;
    width: 100%;
    background: white;
    transform: translate(-8px,150px) skewX(-60deg);
}

#book2{
    position: relative;
    margin: 20px;
    height: 150px;
    width: 120px;
    display: flex;
    justify-content: center;
    transform: skewY(-5deg);
    background: url(tanya-prodaan-XWNulFxTjtA-unsplash.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
.title2{
    position: fixed;
    left: 2px;
    bottom: 15px;
    color: transparent;
    background: url(tanya-prodaan-XWNulFxTjtA-unsplash.jpg)no-repeat center center/cover;
    background-clip: text;
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#book2::before{
    content: '';
    position: absolute;
    height: 102.5%;
    width: 16px;
    background: url(tanya-prodaan-XWNulFxTjtA-unsplash.jpg);
    transform: translate(-68px, 2px) skewY(-20deg);
}
#book2::after{
    content: '';
    position: absolute;
    height: 10px;
    width: 100%;
    background: wheat;
    transform: translate(-8px,150px) skewX(-60deg);
}

#book3{
    position: relative;
    margin: 20px;
    height: 150px;
    width: 120px;
    display: flex;
    justify-content: center;
    transform: skewY(-5deg);
    background: url(danny-lines-00MAcnHWQms-unsplash.jpg);
    background-size: cover;
    color: white;
}
#book3::before{
    content: '';
    position: absolute;
    height: 102.5%;
    width: 16px;
    background: url(danny-lines-00MAcnHWQms-unsplash.jpg);
    transform: translate(-68px, 2px) skewY(-20deg);
}
#book3::after{
    content: '';
    position: absolute;
    height: 10px;
    width: 100%;
    background: white;
    transform: translate(-8px,150px) skewX(-60deg);
}

#book4{
    position: relative;
    margin: 20px;
    height: 150px;
    width: 120px;
    display: flex;
    justify-content: center;
    transform: skewY(-5deg);
    background: black;
    background: url(isaac-quesada-jVLXiFNSzdU-unsplash.jpg);
}
.title4{
    color: brown;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 50%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: larger;
}
#book4::before{
    content: '';
    position: absolute;
     height: 102.5%;
    width: 16px;
    background: black;
    transform: translate(-68px, 2px) skewY(-20deg);
}
#book4::after{
    content: '';
    position: absolute;
    height: 10px;
    width: 100%;
    background: wheat;
    transform: translate(-8px,150px) skewX(-60deg);
}

#book5{
    position: relative;
    margin: 20px;
    height: 150px;
    width: 120px;
    display: flex;
    justify-content: center;
    transform: skewY(-5deg);
    background: url(justus-menke-Wn8fHmOxAm8-unsplash.jpg);
    background-size: cover;
}
.title5{
    background: rgba(245, 245, 245, 0.527);
    height: fit-content;
    color: black;
}
#book5::before{
    content: '';
    position: absolute;
     height: 102.5%;
    width: 16px;
    background: url(justus-menke-Wn8fHmOxAm8-unsplash.jpg);
    transform: translate(-68px, 2px) skewY(-20deg);
}
#book5::after{
    content: '';
    position: absolute;
    height: 10px;
    width: 100%;
    background: white;
    transform: translate(-8px,150px) skewX(-60deg);
}

#book6{
    margin: 20px;
    position: relative;
    height: 150px;
    width: 120px;
    display: flex;
    justify-content: center;
    transform: skewY(-5deg);
    background: url(luiza-braun-AbchCImfTnQ-unsplash.jpg);
    background-size: cover;
}
#book6::before{
    content: '';
    position: absolute;
     height: 102.5%;
    width: 16px;
    background: url(luiza-braun-AbchCImfTnQ-unsplash.jpg);
    background-size: cover;
    transform: translate(-68px, 2px) skewY(-20deg);
}
#book6::after{
    content: '';
    position: absolute;
    height: 10px;
    width: 100%;
    background: wheat;
    transform: translate(-8px,150px) skewX(-60deg);
}

#book7{
    position: relative;
    margin: 20px;
    height: 150px;
    width: 120px;
    display: flex;
    justify-content: center;
    transform: skewY(-5deg);
    background: url(420aperture-QOOMdMfE4sM-unsplash.jpg);
    background-size: cover;
}
.title7{
    text-align: center;
    transform: translateY(50%);
    color: transparent;
    background: url(jeong-yejune-yscYtKfSH7g-unsplash.jpg) center center/cover;
    background-clip: text;
    text-transform: uppercase;
    font-family: cursive;
}
#book7::before{
    content: '';
    position: absolute;
     height: 102.5%;
    width: 16px;
    background: red;
    transform: translate(-68px, 2px) skewY(-20deg);
}
#book7::after{
    content: '';
    position: absolute;
    height: 10px;
    width: 94%;
    background: white;
    transform: translate(-8px,150px) skewX(-60deg);
}

#book8{
    margin: 20px;
    position: relative;
    height: 150px;
    width: 120px;
    display: flex;
    justify-content: center;
    transform: skewY(-5deg);
    background: url(david-trinks-RWDwbpmH5oI-unsplash.jpg);
    background-size: cover;
}
#book8::before{
    content: '';
    position: absolute;
     height: 102.5%;
    width: 16px;
    background: url(david-trinks-RWDwbpmH5oI-unsplash.jpg);
    background: rgba(0, 0, 0, 0.274);
    transform: translate(-68px, 2px) skewY(-20deg);
}
#book8::after{
    content: '';
    position: absolute;
    height: 10px;
    width: 100%;
    background: wheat;
    transform: translate(-8px,150px) skewX(-60deg);
}

.story-container{
    display: none;
}
.show{
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    height: 100vh;
    width:100%;
    background: black;
    z-index: 200;
    transform-style: preserve-3d;
}
.story{
    background: red;
    height: fit-content;
    width: 50%;
    transform-style: preserve-3d;
    transform:perspective(1000px) rotateX(40deg) translateZ(100px);
    box-shadow: 0 0 50px 50px black;
    color: black;
    display: flex;
    text-align: center;
    flex-direction: column;
    animation: scalein 2s linear;
}
@keyframes scalein{
    0%{
        transform:perspective(1000px) rotateX(0deg) translateZ(100px) scale(.5,.5);
    }
    100%{
        transform:perspective(1000px) rotateX(40deg) translateZ(100px) scale(1,1);
    }
}
.completed{
    background: rgba(0, 0, 0, 0.164);
    color: wheat;
    height: fit-content;
    width: fit-content;
    align-self: center;
    cursor: pointer;
}
