* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-attachment: fixed;
}

.motivational {
  position: relative;
  height: 100vh;
  height: 100dvh;
  width: 100%;
  background-image: url(cristofer-maximilian-NSKP7Gwa_I0-unsplash.jpg);
  background-size: contain;
}

#motivational-books {
  position: relative;
  min-height: 100vh;
  padding: 70px;
  display: grid;
  background: blue;
  grid-template-columns: repeat(4, 1fr);
  animation: blurin linear both;
  animation-timeline: view();
}

@keyframes blurin {
  0% {
    filter: blur(5px);
  }

  45%,
  50%,
  55%,
  60%,
  65% {
    filter: blur(0);
  }

  100% {
    filter: blur(0);
  }
}

@media screen and (max-width: 768px) {
  #motivational-books {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .motivational {
    background-size: cover;
  }
}
@media screen and (max-width: 480px) {
  #motivational-books {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }
}

#book17 {
  position: relative;
  margin: 20px;
  height: 150px;
  width: 120px;
  background: url(micah-sammie-chaffin-Zdf3zn5XXtU-unsplash.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  transform: skewY(-5deg);
}

#book17::before {
  content: "";
  position: absolute;
  height: 102.5%;
  width: 16px;
  background: url(micah-sammie-chaffin-Zdf3zn5XXtU-unsplash.jpg);
  transform: translate(-68px, 2px) skewY(-20deg);
}

#book17::after {
  content: "";
  position: absolute;
  height: 10px;
  width: 100%;
  background: white;
  transform: translate(-8px, 150px) skewX(-60deg);
}

#book18 {
  position: relative;
  margin: 20px;
  height: 150px;
  width: 120px;
  background: url(koen-emmers-Da1Wv-XC43k-unsplash.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  transform: skewY(-5deg);
}
.title18 {
  background: rgba(0, 0, 255, 0.514);
  color: black;
  height: fit-content;
  width: 100%;
}
#book18::before {
  content: "";
  position: absolute;
  height: 102.5%;
  width: 16px;
  background: url(koen-emmers-Da1Wv-XC43k-unsplash.jpg);
  transform: translate(-68px, 2px) skewY(-20deg);
}

#book18::after {
  content: "";
  position: absolute;
  height: 10px;
  width: 100%;
  background: wheat;
  transform: translate(-8px, 150px) skewX(-60deg);
}

#book19 {
  position: relative;
  margin: 20px;
  height: 150px;
  width: 120px;
  background: url(kobu-agency-hTtK6tvTRY0-unsplash.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  transform: skewY(-5deg);
  color: blue;
  font-size: larger;
}

#book19::before {
  content: "";
  position: absolute;
  height: 102.5%;
  width: 16px;
  background: url(kobu-agency-hTtK6tvTRY0-unsplash.jpg);
  transform: translate(-68px, 2px) skewY(-20deg);
}

#book19::after {
  content: "";
  position: absolute;
  height: 10px;
  width: 100%;
  background: white;
  transform: translate(-8px, 150px) skewX(-60deg);
}

#book20 {
  position: relative;
  margin: 20px;
  height: 150px;
  width: 120px;
  background: url(liam-simpson-CmyfWyTxjA8-unsplash.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  transform: skewY(-5deg);
}
.title20 {
  text-align: center;
  transform: translateY(30%);
  color: aliceblue;
}
#book20::before {
  content: "";
  position: absolute;
  height: 102.5%;
  width: 16px;
  background: url(liam-simpson-CmyfWyTxjA8-unsplash.jpg);
  transform: translate(-68px, 2px) skewY(-20deg);
}

#book20::after {
  content: "";
  position: absolute;
  height: 10px;
  width: 100%;
  background: wheat;
  transform: translate(-8px, 150px) skewX(-60deg);
}

#book21 {
  position: relative;
  margin: 20px;
  height: 150px;
  width: 120px;
  background: url(vitaly-gariev-bl7h_R-PKpU-unsplash.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  transform: skewY(-5deg);
}

#book21::before {
  content: "";
  position: absolute;
  height: 102.5%;
  width: 16px;
  background: url(vitaly-gariev-bl7h_R-PKpU-unsplash.jpg);
  transform: translate(-68px, 2px) skewY(-20deg);
}

#book21::after {
  content: "";
  position: absolute;
  height: 10px;
  width: 100%;
  background: white;
  transform: translate(-8px, 150px) skewX(-60deg);
}

#book22 {
  margin: 20px;
  position: relative;
  height: 150px;
  width: 120px;
  text-align: center;
  color: rgba(0, 0, 0, 0.452);
  background: url(neom-gOqBe7ropxM-unsplash.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  transform: skewY(-5deg);
}

#book22::before {
  content: "";
  position: absolute;
  height: 102.5%;
  width: 16px;
  background: url(neom-gOqBe7ropxM-unsplash.jpg);
  transform: translate(-68px, 2px) skewY(-20deg);
}

#book22::after {
  content: "";
  position: absolute;
  height: 10px;
  width: 100%;
  background: wheat;
  transform: translate(-8px, 150px) skewX(-60deg);
}

#book23 {
  position: relative;
  margin: 20px;
  height: 150px;
  width: 120px;
  background: url(no-revisions-OAW0OCLn52I-unsplash.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  transform: skewY(-5deg);
}
.title23 {
  transform: translateY(20%);
  text-align: end;
  color: aliceblue;
  text-decoration: wavy;
}
#book23::before {
  content: "";
  position: absolute;
  height: 102.5%;
  width: 16px;
  background: url(no-revisions-OAW0OCLn52I-unsplash.jpg);
  transform: translate(-68px, 2px) skewY(-20deg);
}

#book23::after {
  content: "";
  position: absolute;
  height: 10px;
  width: 100%;
  background: white;
  transform: translate(-8px, 150px) skewX(-60deg);
}

#book24 {
  margin: 20px;
  position: relative;
  height: 150px;
  width: 120px;
  background: url(jon-tyson-PXB7yEM5LVs-unsplash.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  transform: skewY(-5deg);
}
.title24 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  transform: translateY(80%);
  text-transform: lowercase;
  font-weight: bolder;
  height: fit-content;
  width: fit-content;
  color: black;
}
.title24span {
  color: antiquewhite;
  font-size: larger;
}
#book24::before {
  content: "";
  position: absolute;
  height: 102.5%;
  width: 16px;
  background: url(jon-tyson-PXB7yEM5LVs-unsplash.jpg);
  transform: translate(-68px, 2px) skewY(-20deg);
}

#book24::after {
  content: "";
  position: absolute;
  height: 10px;
  width: 100%;
  background: wheat;
  transform: translate(-8px, 150px) skewX(-60deg);
}
.story-container {
  display: none;
}
.show {
  position: absolute;
  display: block;
  height: 100vh;
  width: 100%;
  background: rgb(25, 25, 235);
  z-index: 200;
}
.story {
  background: rgba(255, 255, 255, 0.247);
  height: 200px;
  width: 50%;
  transform: translate(50%, 40vh);
  box-shadow: -20px 30px -10px 10px rgba(255, 255, 255, 0.247);
  color: pink;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  /* animation-name: blurin; */
  animation-duration: 3s;
  animation-timing-function: 1;
}
/* @keyframes blurin{
    0%{
        filter: blur(10px);
    }
    50%{
        filter: blur(0);
    }
    100%{
        filter: brightness(10px);
    }
} */
.completed {
  background: blue;
  color: azure;
  height: fit-content;
  width: fit-content;
  align-self: center;
  cursor: pointer;
}
