*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: red;
}
.genre{
    right: 10px;
    top: 10px;
    position: fixed;
    opacity: 0;
    cursor: pointer;
    z-index: 200;
}
.close{
    position: absolute;
    right: 10px;
    z-index: 200;
    opacity: 0;
    color: white;
    cursor: pointer;
}
.lists{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    animation: slidein-y 2s forwards;
    animation-delay: 2.5s;
    opacity: 0;
}
@keyframes slidein-y{
   from{
    transform: translateY(-100%);
   }
   to{
    transform: translateY(0);
    opacity: 1;
   }
}
.list-link{
    text-decoration: none;
    color: white;
}
.list{
    list-style: none;
}
.welcome{
    font-size: 15vw;
    text-align: center;
    align-items: center;
    letter-spacing: 2vw;
    background: url(susan-q-yin-2JIvboGLeho-unsplash.jpg)  no-repeat center center/cover;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    transform-style: preserve-3d;
    position: relative;
    animation-name: slidein-x;
    animation-duration: 3s;
    animation-iteration-count: 1;
}
@keyframes slidein-x{
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(0);
    }
}
.name{
    font-size:150px ;
    animation-name: leftright;
    animation-duration: 3s;
    animation-iteration-count: 1;
    color: rgba(255, 255, 255, 0.678);
    margin-top: 5vh;
    float: left;
}
@keyframes leftright{
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0);
    }
}
.button-container{
    position: fixed;
    bottom: 30px;
    left: 50%;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    transform-style: preserve-3d;
    animation: circular 10s linear infinite;
}
@keyframes circular{
    0%{
        transform: rotateY(0deg) perspective(1000px) rotate(0deg);
    }
    100%{
        transform: rotateY(360deg) perspective(1000px) rotate(0deg);
    }
}
.btn{
    position: absolute;
    font-size: 30px;
    text-align: center;
    transform-style: preserve-3d;
    border-radius: 50%;
    perspective: 100px;
    background: red;
    color: white;
    transform: rotateY(calc(var(--i) * 72deg)) translateZ(100px);
}

.background-book{
    display: flex;
    flex-direction: row;
    margin-top: 25vh;
    margin-right: 50px;
    float: right;
}
.note{
    color: white;
}
.forever{
    color: white;
}
.background-book1{
    height: 150px;
    width: 100px;
    background: red;
    transform:skewY(30deg);
    align-items: center;
}
.background-book1::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 20px;
    background: red;
    transform:translate(-20px, 10px) skewY(-50deg);
}
.background-book1::after{
    content: '';
    position: absolute;
    height: 20px;
    width: 100%;
    background: white;
    transform:translate(-85px, 42px) skewX(-40deg);
}
.background-book2{
    height: 150px;
    width: 100px;
    background: red;
    transform:skewY(-30deg);
}
.background-book2::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 20px;
    background: red;
    transform:translate(100px, 10px) skewY(50deg);
}
.background-book2::after{
    content: '';
    position: absolute;
    height: 20px;
    width: 100%;
    background: white;
    transform:translate(-38px, 60px) skewX(40deg);
}
@media screen and (max-width:1020px){
    .name{
        font-size: 100px;
    }
    .background-book{
        margin-top: 20vh;
        margin-right: 50vw;
    }
}
@media screen and (max-width:600px){
    .name{
        font-size: 50px;
    }
    .genre{
         opacity: 1;
    }
    .background-book{
        margin-top: 20vh;
        margin-left: 10vw;
    }
    .close{
        opacity: 1;
    }
    .lists{
        position: fixed;
        margin-top: 0;
        padding: 0;
        top: 0;
        right: -100%;
        background: black;
        height: 100%;
        width: 150px;
        display: flex;
        flex-direction: column;
        justify-content: initial;
        z-index: 200;
        transition: all 2s ease-in-out;
    }
    .open{
        right: 0;
    }
    .list{
        padding-left: 10px;
        padding-top: 25px;
        list-style: inside;
        color: white;
        align-items: center;
    }
    .list:hover{
        transform: translateX(10px);
    }
}