* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-attachment: fixed;
}

.religious{
    position: relative;
    height: 100vh;
    height: 100dvh;
    width: 100%;
    background-image: url(sonika-agarwal-M3nSVCteeOQ-unsplash.jpg);
    background-size: cover;
}
.religious::before{
    content: '';
    position: absolute;
    height: 100vh;
    width: 100%;
    background: black;
    opacity: 0.8;
}

.religious-text {
    text-align: center;
    transform: translateY(50vh);
    transform: translateY(50dvh);
    color: transparent;
    background: url(ashkan-forouzani-sfmsMZ7ezXw-unsplash.jpg) no-repeat center center/cover;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 20vw;
}

#religious-books {
    position: relative;
    min-height: 100vh;
    padding: 70px;
    display: grid;
    /* background: grey; */
    grid-template-columns: repeat(4, 1fr);
    animation: blurin linear both;
    animation-timeline: view();
}

@keyframes blurin {
    0% {
        filter: blur(5px);
    }

    45%,
    50%,
    55%,
    60%,
    65% {
        filter: blur(0);
    }

    100% {
        filter: blur(0);
    }
}

@media screen and (max-width:768px) {
    #religious-books {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:480px) {
    #religious-books {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

#book25 {
    position: relative;
    margin: 20px;
    height: 150px;
    width: 120px;
    background-size: cover;
    display: flex;
    justify-content: center;
    transform: skewY(-5deg);
}

#book25::before {
    content: '';
    position: absolute;
     height: 102.5%;
    width: 16px;
    background: red;
    transform: translate(-68px, 2px) skewY(-20deg);
}

#book25::after {
    content: '';
    position: absolute;
    height: 10px;
    width: 100%;
    background: white;
    transform: translate(-8px, 150px) skewX(-60deg);
}

#book26 {
    position: relative;
    margin: 20px;
    height: 150px;
    width: 120px;
    background-size: cover;
    display: flex;
    justify-content: center;
    transform: skewY(-5deg);
}

#book26::before {
    content: '';
    position: absolute;
    height: 102.5%;
    width: 16px;
    background: red;
    transform: translate(-68px, 2px) skewY(-20deg);
}

#book26::after {
    content: '';
    position: absolute;
    height: 10px;
    width: 100%;
    background: wheat;
    transform: translate(-8px, 150px) skewX(-60deg);
}

#book27 {
    position: relative;
    margin: 20px;
    height: 150px;
    width: 120px;
    background-size: cover;
    display: flex;
    justify-content: center;
    transform: skewY(-5deg);
}

#book27::before {
    content: '';
    position: absolute;
     height: 102.5%;
    width: 16px;
    background: red;
    transform: translate(-68px, 2px) skewY(-20deg);
}

#book27::after {
    content: '';
    position: absolute;
    height: 10px;
    width: 100%;
    background: white;
    transform: translate(-8px, 150px) skewX(-60deg);
}

#book28 {
    position: relative;
    margin: 20px;
    height: 150px;
    width: 120px;
    background-size: cover;
    display: flex;
    justify-content: center;
    transform: skewY(-5deg);
}

#book28::before {
    content: '';
    position: absolute;
     height: 102.5%;
    width: 16px;
    background: red;
    transform: translate(-68px, 2px) skewY(-20deg);
}

#book28::after {
    content: '';
    position: absolute;
    height: 10px;
    width: 100%;
    background: wheat;
    transform: translate(-8px, 150px) skewX(-60deg);
}

#book29 {
    position: relative;
    margin: 20px;
    height: 150px;
    width: 120px;
    background-size: cover;
    display: flex;
    justify-content: center;
    transform: skewY(-5deg);
}

#book29::before {
    content: '';
    position: absolute;
     height: 102.5%;
    width: 16px;
    background: red;
    transform: translate(-68px, 2px) skewY(-20deg);
}

#book29::after {
    content: '';
    position: absolute;
    height: 10px;
    width: 100%;
    background: white;
    transform: translate(-8px, 150px) skewX(-60deg);
}

#book30 {
    margin: 20px;
    position: relative;
    height: 150px;
    width: 120px;
    background-size: cover;
    display: flex;
    justify-content: center;
    transform: skewY(-5deg);
}

#book30::before {
    content: '';
    position: absolute;
     height: 102.5%;
    width: 16px;
    background: red;
    transform: translate(-68px, 2px) skewY(-20deg);
}

#book30::after {
    content: '';
    position: absolute;
    height: 10px;
    width: 100%;
    background: wheat;
    transform: translate(-8px, 150px) skewX(-60deg);
}

#book31 {
    position: relative;
    margin: 20px;
    height: 150px;
    width: 120px;
    background-size: cover;
    display: flex;
    justify-content: center;
    transform: skewY(-5deg);
}

#book31::before {
    content: '';
    position: absolute;
     height: 102.5%;
    width: 16px;
    background: red;
    transform: translate(-68px, 2px) skewY(-20deg);
}

#book31::after {
    content: '';
    position: absolute;
    height: 10px;
    width: 100%;
    background: white;
    transform: translate(-8px, 150px) skewX(-60deg);
}

#book32 {
    margin: 20px;
    position: relative;
    height: 150px;
    width: 120px;
    display: flex;
    justify-content: center;
    transform: skewY(-5deg);
}

#book32::before {
    content: '';
    position: absolute;
     height: 102.5%;
    width: 16px;
    background: red;
    transform: translate(-68px, 2px) skewY(-20deg);
}

#book32::after {
    content: '';
    position: absolute;
    height: 10px;
    width: 100%;
    background: wheat;
    transform: translate(-8px, 150px) skewX(-60deg);
}
.story-container{
    display: none;
}
.show{
    position: absolute;
    display: block;
    height: 100vh;
    width:100%;
    background: rgb(243, 7, 7);
    z-index: 200;
}
.toast{
  background: skyblue;
  width: fit-content;
  height: max-content;
  color: whitesmoke;
  position: absolute;
  text-align: center;
  margin-top: 50vh;
  margin-left: 50vw;
  translate: -50% -50%;
  animation: popup linear;
  animation-timeline: view();
}
@keyframes popup{
  to{
    z-index: 200;
  }
}
.story{
    background: black;
    height: 200px;
    width: 50%;
    transform: translate(50%,40vh);
    box-shadow: -20px 30px 50px 50px black;
    color: black;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.completed{
    background: red;
    color: azure;
    height: fit-content;
    width: fit-content;
    align-self: center;
}