* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-attachment: fixed;
}

.religious{
    position: relative;
    height: 100vh;
    height: 100dvh;
    width: 100%;
    background-image: url(sonika-agarwal-M3nSVCteeOQ-unsplash.jpg);
    background-size: cover;
}
.religious::before{
    content: '';
    position: absolute;
    height: 100vh;
    width: 100%;
    background: black;
    opacity: 0.8;
}

.religious-text {
    text-align: center;
    transform: translateY(50vh);
    transform: translateY(50dvh);
    color: transparent;
    background: url(ashkan-forouzani-sfmsMZ7ezXw-unsplash.jpg) no-repeat center center/cover;
    background-clip: text;
    font-size: 20vw;
}

#religious-books {
    position: relative;
    min-height: 100vh;
    padding: 70px;
    display: grid;
    background: green;
    grid-template-columns: repeat(4, 1fr);
    animation: blurin linear both;
    animation-timeline: view();
}

@keyframes blurin {
    0% {
        filter: blur(5px);
    }

    45%,
    50%,
    55%,
    60%,
    65% {
        filter: blur(0);
    }

    100% {
        filter: blur(0);
    }
}

@media screen and (max-width:768px) {
    #religious-books {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:480px) {
    #religious-books {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }
}

#book25 {
    position: relative;
    margin: 20px;
    height: 150px;
    width: 120px;
    background: url(dewang-gupta-Mu3T3DmvQQw-unsplash.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    transform: skewY(-5deg);
}
.title25{
    color: rgb(247, 22, 239);
    bottom: 0;
    position: fixed;
}
#book25::before {
    content: '';
    position: absolute;
     height: 102.5%;
    width: 16px;
    background: url(dewang-gupta-Mu3T3DmvQQw-unsplash.jpg);
    transform: translate(-68px, 2px) skewY(-20deg);
}

#book25::after {
    content: '';
    position: absolute;
    height: 10px;
    width: 100%;
    background: wheat;
    transform: translate(-8px, 150px) skewX(-60deg);
}

#book26 {
    position: relative;
    margin: 20px;
    height: 150px;
    width: 120px;
    background:url(aidah-kiirya-yjHL_J9alok-unsplash.jpg) ;
    background-size: cover;
    display: flex;
    justify-content: center;
    transform: skewY(-5deg);
}
.title26{
    text-align: center;
    color: white;
    transform: translateY(8%);
}
#book26::before {
    content: '';
    position: absolute;
    height: 102.5%;
    width: 16px;
    background:url(aidah-kiirya-yjHL_J9alok-unsplash.jpg) ;
    transform: translate(-68px, 2px) skewY(-20deg);
}

#book26::after {
    content: '';
    position: absolute;
    height: 10px;
    width: 100%;
    background: wheat;
    transform: translate(-8px, 150px) skewX(-60deg);
}

#book27 {
    position: relative;
    margin: 20px;
    height: 150px;
    width: 120px;
    background: url(cullan-smith-BdTtvBRhOng-unsplash.jpg);
    background-size: contain;
    display: flex;
    justify-content: center;
    transform: skewY(-5deg);
}
.title27{
    color: wheat;
    transform: translateY(50%);
}
#book27::before {
    content: '';
    position: absolute;
     height: 102.5%;
    width: 16px;
    background: url(cullan-smith-BdTtvBRhOng-unsplash.jpg);
    transform: translate(-68px, 2px) skewY(-20deg);
}

#book27::after {
    content: '';
    position: absolute;
    height: 10px;
    width: 100%;
    background: wheat;
    transform: translate(-8px, 150px) skewX(-60deg);
}

#book28 {
    position: relative;
    margin: 20px;
    height: 150px;
    width: 120px;
    background: url(adam-hornyak-tD8NE0lo42U-unsplash.jpg);
    background-size: contain;
    display: flex;
    justify-content: center;
    transform: skewY(-5deg);
}
.title28{
    color: burlywood;
    transform: translateY(50%);
}
#book28::before {
    content: '';
    position: absolute;
     height: 102.5%;
    width: 16px;
    background: url(adam-hornyak-tD8NE0lo42U-unsplash.jpg);
    transform: translate(-68px, 2px) skewY(-20deg);
}

#book28::after {
    content: '';
    position: absolute;
    height: 10px;
    width: 100%;
    background: wheat;
    transform: translate(-8px, 150px) skewX(-60deg);
}

#book29 {
    position: relative;
    margin: 20px;
    height: 150px;
    width: 120px;
    background: url(menor-degu-H6e1J1XW4Fw-unsplash.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    transform: skewY(-5deg);
}
.title29{
    position: fixed;
    bottom: 0%;
    text-align: center;
    color: gray;
    font-weight: bolder;
    background: white;
    height: fit-content;
}
#book29::before {
    content: '';
    position: absolute;
     height: 102.5%;
    width: 16px;
    background: url(menor-degu-H6e1J1XW4Fw-unsplash.jpg);
    transform: translate(-68px, 2px) skewY(-20deg);
}

#book29::after {
    content: '';
    position: absolute;
    height: 10px;
    width: 100%;
    background: wheat;
    transform: translate(-8px, 150px) skewX(-60deg);
}

#book30 {
    margin: 20px;
    position: relative;
    height: 150px;
    width: 120px;
    background:url(sam-moghadam-gH5yrgiw4Xw-unsplash.jpg) ;
    background-size: contain;
    display: flex;
    justify-content: center;
    transform: skewY(-5deg);
}
.title30{
    transform: translateY(40%);
    color: white;
}
#book30::before {
    content: '';
    position: absolute;
     height: 102.5%;
    width: 16px;
    background:url(sam-moghadam-gH5yrgiw4Xw-unsplash.jpg) ;
    transform: translate(-68px, 2px) skewY(-20deg);
}

#book30::after {
    content: '';
    position: absolute;
    height: 10px;
    width: 100%;
    background: wheat;
    transform: translate(-8px, 150px) skewX(-60deg);
}

#book31 {
    position: relative;
    margin: 20px;
    height: 150px;
    width: 120px;
    background:url(sixteen-miles-out-3CA_-xcpulY-unsplash.jpg) ;
    background-size: cover;
    display: flex;
    justify-content: center;
    transform: skewY(-5deg);
    color: rgb(250, 250, 4);
}
#book31::before {
    content: '';
    position: absolute;
     height: 102.5%;
    width: 16px;
    background: url(sixteen-miles-out-3CA_-xcpulY-unsplash.jpg);
    transform: translate(-68px, 2px) skewY(-20deg);
}

#book31::after {
    content: '';
    position: absolute;
    height: 10px;
    width: 100%;
    background: wheat;
    transform: translate(-8px, 150px) skewX(-60deg);
}

#book32 {
    margin: 20px;
    position: relative;
    height: 150px;
    width: 120px;
    display: flex;
    background: url(boluwatife-oguns--Sh6nXFK1VU-unsplash.jpg);
    background-size: cover;
    justify-content: center;
    transform: skewY(-5deg);
}
.title32{
    font-weight: bolder;
    color: antiquewhite;
    transform: translateY(75%);
}
#book32::before {
    content: '';
    position: absolute;
     height: 102.5%;
    width: 16px;
    background: url(boluwatife-oguns--Sh6nXFK1VU-unsplash.jpg);
    transform: translate(-68px, 2px) skewY(-20deg);
}
#book32::after {
    content: '';
    position: absolute;
    height: 10px;
    width: 100%;
    background: wheat;
    transform: translate(-8px, 150px) skewX(-60deg);
}
.story-container{
    display: none;
}
.show{
    position: absolute;
    display: flex;
    height: 100vh;
    width:100%;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    background: rgb(59, 59, 1);
    background: linear-gradient(10deg,white, blue);
    z-index: 200;
    transform-style: preserve-3d;
}
.story{
    height: fit-content;
    width: 50%;
    color: white;
    display: flex;
    text-align: center;
    flex-direction: column;
    transform-style: preserve-3d;
    animation:reversing 4s forwards;
}
@keyframes reversing{
    from{filter: blur(5px);}
}
.completed{
    background: rgb(117, 117, 247);
    color: azure;
    height: fit-content;
    width: fit-content;
    align-self: center;
    cursor: pointer;
}