* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-attachment: fixed;
}
.romance {
  position: relative;
  height: 100vh;
  height: 100dvh;
  width: 100%;
  background-image: url(mubariz-mehdizadeh-aNHKAogpTRU-unsplash.jpg);
  background-size: contain;
}
.romance::before {
  content: "";
  position: absolute;
  height: 100vh;
  width: 100%;
  background: red;
  opacity: 0.3;
}

.romance-text {
  text-align: center;
  color: transparent;
  transform: translateY(50vh);
  transform: translateY(50dvh);
  background: url(andreas-gabler-XEW_Wd4240c-unsplash.jpg) no-repeat center
    center/cover;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 20vw;
}
#romance-books {
  position: relative;
  min-height: 100vh;
  padding: 70px;
  display: grid;
  background: tomato;
  grid-template-columns: repeat(4, 1fr);
  animation: blurin linear both;
  animation-timeline: view();
}
@keyframes blurin {
  0% {
    filter: blur(5px);
  }
  45%,
  50%,
  55%,
  60%,
  65% {
    filter: blur(0);
  }
  100% {
    filter: blur(0);
  }
}
@media screen and (max-width: 768px) {
  #romance-books {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .romance{
    background-size: cover;
  }
}
@media screen and (max-width: 480px) {
  #romance-books {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
#book9 {
  position: relative;
  margin: 20px;
  height: 150px;
  width: 120px;
  background: url(mihai-moisa-Djtc1T38-GY-unsplash.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  transform: skewY(-5deg);
}
.title9{
  color: white;
  text-align: center;
  transform: translateY(10%);
}
.title9em{
  font-size: xx-large;
  position: fixed;
  text-align: center;
  top: 15%;
  left: 50%;
  transform: translate(-50%, 50%);
  color: rgb(11, 243, 11);
}
#book9::before {
  content: "";
  position: absolute;
  height: 102.5%;
  width: 16px;
  background: url(mihai-moisa-Djtc1T38-GY-unsplash.jpg);
  background-size: contain;
  transform: translate(-68px, 2px) skewY(-20deg);
}
#book9::after {
  content: "";
  position: absolute;
  height: 10px;
  width: 100%;
  background: white;
  transform: translate(-8px, 150px) skewX(-60deg);
}
#book10 {
  position: relative;
  margin: 20px;
  height: 150px;
  width: 120px;
  background: url(gala-iv-IuNrjFugD98-unsplash.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  transform: skewY(-5deg);
}
.title10{
  text-align: center;
}
#book10::before {
  content: "";
  position: absolute;
   height: 102.5%;
    width: 16px;
    background: url(gala-iv-IuNrjFugD98-unsplash.jpg);
    background-size: cover;
    transform: translate(-68px, 2px) skewY(-20deg);
}
#book10::after {
  content: "";
  position: absolute;
  height: 10px;
  width: 100%;
  background: wheat;
  transform: translate(-8px, 150px) skewX(-60deg);
}

#book11 {
  position: relative;
  margin: 20px;
  height: 150px;
  width: 120px;
  background: url(julio-andres-rosario-ortiz-Rvc4OCPCnTI-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  transform: skewY(-5deg);
}
#book11::before {
  content: "";
  position: absolute;
   height: 102.5%;
    width: 16px;
    background: url(julio-andres-rosario-ortiz-Rvc4OCPCnTI-unsplash.jpg);
    transform: translate(-68px, 2px) skewY(-20deg);
}
#book11::after {
  content: "";
  position: absolute;
  height: 10px;
  width: 100%;
  background: white;
  transform: translate(-8px, 150px) skewX(-60deg);
}

#book12 {
  position: relative;
  margin: 20px;
  height: 150px;
  width: 120px;
  background: url(darius-F8E2tks5N04-unsplash.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  transform: skewY(-5deg);
}
#book12::before {
  content: "";
  position: absolute;
  height: 102.5%;
  width: 16px;
  background: url(darius-F8E2tks5N04-unsplash.jpg);
  transform: translate(-68px, 2px) skewY(-20deg);
}
#book12::after {
  content: "";
  position: absolute;
  height: 10px;
  width: 100%;
  background: wheat;
  transform: translate(-8px, 150px) skewX(-60deg);
}

#book13 {
  position: relative;
  margin: 20px;
  height: 150px;
  width: 120px;
  background: url(fadi-xd-I4dR572y7l0-unsplash.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  transform: skewY(-5deg);
}
.title13{
  transform: translateY(60%);
  font-weight: lighter;
   background: url(kelsey-curtis-aXYnU9mpit0-unsplash.jpg) no-repeat center center/cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
  text-transform: lowercase;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#book13::before {
  content: "";
  position: absolute;
  height: 102.5%;
  width: 16px;
  background: url(fadi-xd-I4dR572y7l0-unsplash.jpg);
  background-size: cover;
  transform: translate(-68px, 2px) skewY(-20deg);
}
#book13::after {
  content: "";
  position: absolute;
  height: 10px;
  width: 100%;
  background: white;
  transform: translate(-8px, 150px) skewX(-60deg);
}

#book14 {
  margin: 20px;
  position: relative;
  height: 150px;
  width: 120px;
  background: url(roberta-sorge-IywM7AQTZcM-unsplash.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  transform: skewY(-5deg);
}
.title14{
  background: url(jeong-yejune-yscYtKfSH7g-unsplash.jpg) no-repeat center center/cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
}
#book14::before {
  content: "";
  position: absolute;
   height: 102.5%;
    width: 16px;
    background: rgb(241, 40, 40);
    transform: translate(-68px, 2px) skewY(-20deg);
}
#book14::after {
  content: "";
  position: absolute;
  height: 10px;
  width: 100%;
  background: wheat;
  transform: translate(-8px, 150px) skewX(-60deg);
}

#book15 {
  position: relative;
  margin: 20px;
  height: 150px;
  width: 120px;
  background: url(copycat-fragrances-KVr-EQndQhM-unsplash.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  transform: skewY(-5deg);
}
.title15{
  background: url(mubariz-mehdizadeh-aNHKAogpTRU-unsplash.jpg) no-repeat center center/cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
  transform: translateY(10%);
  font-size: larger;
}
#book15::before {
  content: "";
  position: absolute;
   height: 102.5%;
    width: 16px;
    background: url(copycat-fragrances-KVr-EQndQhM-unsplash.jpg);
    transform: translate(-68px, 2px) skewY(-20deg);
}
#book15::after {
  content: "";
  position: absolute;
  height: 10px;
  width: 100%;
  background: white;
  transform: translate(-8px, 150px) skewX(-60deg);
}

#book16 {
  margin: 20px;
  position: relative;
  height: 150px;
  width: 120px;
  background: url(mrika-selimi-kWNQy01CXCI-unsplash.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  transform: skewY(-5deg);
}
.title16{
  position: fixed;
  right: 0;
  top: 25%;
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}
.title16span{
  font-weight: bolder;
  font-size: 25px;
  position: fixed;
  right: 0;
  top: 29%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: darkgreen;
}
#book16::before {
  content: "";
  position: absolute;
   height: 102.5%;
    width: 16px;
    background: rgb(6, 8, 6);
    transform: translate(-68px, 2px) skewY(-20deg);
}
#book16::after {
  content: "";
  position: absolute;
  height: 10px;
  width: 100%;
  background: wheat;
  transform: translate(-8px, 150px) skewX(-60deg);
}
.story-container {
  display: none;
}
.show {
  position: absolute;
  display: block;
  height: 100vh;
  width: 100%;
  background: red;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  z-index: 200;
  text-align: center;
  font-size: 3vw;
} 
.story{
    background: pink;
    height: 200px;
    width: 50%;
    transform: translate(50%,40vh);
    box-shadow: -20px 30px 50px 50px pink;
    color: red;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    animation-name: zoomin;
    animation-direction: alternate-reverse;
    animation-iteration-count: 1;
    animation-duration: 3s;
} 
@keyframes zoomin{
    from{
        transform: translate(50%,40vh);
        filter: blur(0);
    }
    to{
        transform: translate(-100px,-100px);
        filter: blur(10px);
    }
}
.completed{
    background: red;
    color: azure;
    height: fit-content;
    width: fit-content;
    align-self: center;
}
.toast{
  background: red;
  width: fit-content;
  height: max-content;
  color: whitesmoke;
  position: absolute;
  text-align: center;
  margin-top: 50vh;
  margin-left: 50vw;
  translate: -50% -50%;
  animation: popup linear;
  animation-timeline: view();
}
@keyframes popup{
  to{
    z-index: 200;
  }
}